.inputBox {
  background-color: snow;
  text-align: center;
  align-items: center;
  height: 365px;
  width: 650px;
  box-sizing: border-box;
  border: 5px solid darkblue;
}
.inputBox h1 {
  padding-top: 21px;
}
.inputButtons {
  padding: 10px;
}

.fields {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.input {
  margin: 5px;
  border: 2px solid darkblue;
  height: 60px;
  width: 120px;
  text-align: center;
}

.submitInput {
  height: 50px;
  width: 100px;

  border-radius: 50%;
  border: 3px solid black;

  color: white;
  background-color: rgba(0, 0, 139, 0.9);

  margin: 20px 0px;
  cursor: pointer;
  transition: 500ms;
}
.submitInput:hover {
  background-color: rgba(0, 100, 0, 0.8);
}
